
/* CSS BY NAME Tyler Hannart */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* CSS REST */

/* ROOT VARIABLES */
:root {
  --color-teal: #4CA7C0;
  --color-purple: #484FB7;
  --color-lavender: #6B8FE7;
  --color-yellow: #E9BB57;
  --color-pink: #D9526F;
  --color-dark: #1E1E1E;
  --color-white: #ffffff;

  --font-heading: "Kavoon", system-ui;
  --font-body: "Inter", system-ui;
}

/* GLOBAL STYLES (mobile first/small) */
body {
  font-family: var(--font-body);
  background-color: var(--color-lavender);
  color: var(--color-dark);
  line-height: 1.5;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--color-purple);
  min-height: 100vh;
  padding: 1rem;
}

header > h1 {
  font-family: var(--font-heading);
  font-size: 3em;
  color: var(--color-white);
  text-align: center;
}

header .tagline {
  text-align: center;
  color: var(--color-white);
  margin-top: 0.3rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 2em;
}

nav h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.15em;
}